@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  overflow-y: hidden;
}

.d-flex {
  display: flex;
}

.spase-between {
  justify-content: space-between;
}
